body {
    /* The image used */
    background-image: url("images/backgroundImageComputer.jpg");

    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: repeat-y;
    background-size: auto 100vh;
    background-color: #4F5D75;
    color: #2D3142;
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

/* Necessary, the margins were breaking foundation. */
ol, ul {
    margin: 0;
    list-style-type: none;
}

a {
    color: #EF8354;
}

header {
    height: 80vh;
    min-height: 30em;
}

.introduction {
    height: 80vh;
    min-height: 30em;
    background-color: white;
    padding: 1em 1em 3em 1em;
    text-align:center;
    color: #2D3142;
}

#portrait {
    width: 180px;
    border-radius:50%;
    margin: 1em;
}

.addSomeHeight {
    height: 8em;
}

.introduction a {
    color: #4F5D75;
}

.socialMedia li {
    display: inline-block;
    vertical-align: middle;
}

.socialMedia svg {
    color: #4F5D75;
    font-size: 2em;
    margin: 1em .25em;
}

.socialMedia svg:hover {
    color: #EF8354;
}

.portfolio {
    background-color: white;
    padding: 3em 1em;
}

.portfolioItems li {
    position: relative;
    width:444px;
    height:333px;
    background-size: cover;
    margin: 1em 0;
    color: white;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #BFC0C0;
}

.portfolioItems p {
    position: absolute;
    bottom: 1em;
    width:100%;
    margin: 0;
    padding: 1em 0;
    background-color: #4F5D75;
    opacity: .8;
    font-weight: bold;
}

.portfolioItems svg {
    color: white;
    font-size: 1.5em;
    margin: 0 .1em;
}
.portfolioItems svg:hover {
    color: #EF8354;
}

#RPSFirebaseGame {
    background-image: url("images/rps.png");
}

#GIFMadness {
    background-image: url("images/wrestlingGIFapp.png");
}

#HangmanGame {
    background-image: url("images/hangman.jpg");
}

#BrainReactGame {
    background-image: url("images/brainReact.png");
}

#StarWarsRPG {
    background-image: url("images/starwars.png");
}

#WrestlingTriviaGame {
    background-image: url("images/wrestlingTrivia.png");
}

#RoadRover {
    background-image: url("images/roadRover.png");
} 

#bamazonCLI {
    background-image: url("images/fakeAmazonCLI.png");
}

#friendliness {
    background-image: url("images/friendliness.png");
}

#kingsburgers {
    background-image: url("images/kingsburgers.png");
}

#beerDiary {
    background-image: url("images/beerDiary.png");
}

#nytass {
    background-image: url("images/nytass.png");
}

#usaStateParks {
    background-image: url("images/usaStateParks.png");
}

.aboutMe {
    background-color: white;
    padding: 3em 1em;
}

.inTheNews {
    list-style-type: none; /* no default bullets */
}

.inTheNews a {
    color:  #2D3142;
    cursor: pointer;
}

.inTheNews a:hover {
    color:  #EF8354;
    cursor: pointer;
}
  
.inTheNews li:before { /* the custom styled bullets */
    background-color: #EF8354;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
}

.workExperience {
    background-color: #2D3142;
    color: white;
    padding: 3em 1em;
}

.workExperience ul {
    padding: 1em 1em 1em 2em;
}

.workExperience li {
    padding: 0 0 1.5em 0;
}

.workExperience h5 {
    color: #EF8354;
}

.workExperience h6 {
    text-transform: uppercase;
}

.education {
    background-color: white;
    padding: 3em 1em;
}

.education ul {
    padding: 1em 1em 1em 2em;
}

.education li {
    padding: 0 0 1.5em 0;
}

.education h5 {
    color: #EF8354;
}

.education h6 {
    text-transform: uppercase;
}

footer {
    background-color: #2D3142;
    color: #BFC0C0;
    text-align: center;
    padding:2em;
}

a.topLink {
    display:block;
    background-color: #EF8354;
    border-radius: 5px;
    box-sizing: border-box;
    content: "";
    height: 10px;
    margin-bottom: 20px;
    width: 50px;
}

.title-bar { 
    background-color: transparent;
}

.top-bar, .top-bar ul {
    text-align: center;
    background-color: transparent;
    color: white;
}

.top-bar li {
    margin: 0 auto;
    background-color: #2D3142;
    border-radius: 1em;
    opacity: .8;
}

.top-bar li:hover {
    opacity: 1;
}

.top-bar a {
    color: white;
}

#technologies {
    list-style-type: none;
    text-align: center;
}

#technologies li {
    margin: 0;
    padding: 0;
    display: inline;
}

#technologies li:after {
    content: " . ";
}

#technologies li:last-child:after {
    content: "";
}


@media only screen and (max-width: 1024px)  {
    .addSomeHeight {
        height: 6em;
    }
}
@media only screen and (max-width: 640px)  {
    /* The image used */
    body {
        background-image: none;
    }
    .title-bar {
        background-color: #2D3142;
    }
    .top-bar li {
        margin: inherit;
    }
    .top-bar, .top-bar ul, .top-bar a {
        background-color: #4F5D75;
        color: white;
    }
    .addSomeHeight {
        height: 0;
    }
    h2 {
        font-size: 1.5em;
    }
    header {
        height: auto;
        margin-bottom:0;
        padding-bottom:0;
    }
    .introduction {
        height: auto;
        margin-bottom:0;
        padding-bottom:0;
    }
}